@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Kanit:wght@300&display=swap');

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #945ff8;
}

*::-webkit-scrollbar-thumb {
    background-color: #431550;
    border-radius: 10px;
    border: 3px solid #fca4d7;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f5adad;
}

nav {
    background-color: #0281ff;
    color: white;
    text-align: center;
    padding: 10px 0;
	}

nav img {
    max-width: 80px;
    height: auto;
    border-radius: 50px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(111, 0, 175);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}